/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 7px 0;
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  position: relative; /* Add this line */
}

.logo img {
  max-width: 130px;
  height: auto;
  margin-right: 20px; /* Adjust this margin as needed */
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 0;
}

.menu {
  list-style: none;
  display: flex;
  margin: 0;
}

.menu li {
  margin-left: 20px;
}

.menu li a {
  text-decoration: none;
  color: #666;
  transition: color 0.3s ease;
}

.menu li a:hover {
  color: #007bff;
}

.hero {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 120px 0;
}

.hero h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #666;
  color: #fff;
}

.courses {
  padding: 80px 0;
  text-align: center;
}

.courses h2 {
  font-size: 32px;
  margin-bottom: 40px;
}

.course-card {
  display: inline-block;
  width: 300px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

.course-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

footer p {
  font-size: 14px;
}


.btn-login {
  padding: 8px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 999;
}

.btn-login:hover {
  background-color: #0056b3;
  color: #fff;
}

.logo {
  margin-right: 20px; /* Add this line */
}

.menu {
  margin-left: 100px; /* Adjusted to 100px */
}


/* Adjustments for responsiveness */
@media screen and (max-width: 768px) {
  .menu-container {
    justify-content: flex-end; 
  }

  .menu {
    margin-left: 20px; /* Adjusted for responsiveness */
  }

  .btn-login {
    position: relative;
    top: auto;
    right: auto;
    margin-left: 10px;
  }
}
