* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center the content horizontally */
  padding: 20px 0;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px; /* Add some space below the title */
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}


.menu li {
  display: inline-block;
  margin-left: 20px;
}

.menu li a {
  text-decoration: none;
  color: #666;
  transition: color 0.3s ease;
}

.menu li a:hover {
  color: #007bff;
}

.hero {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 120px 0;
}

.hero h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #666;
  color: #fff;
}

.courses {
  padding: 80px 0;
  text-align: center;
}

.courses h2 {
  font-size: 32px;
  margin-bottom: 40px;
}

.course-card {
  display: inline-block;
  width: 300px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

.course-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

footer p {
  font-size: 14px;
}
